
	/* Style for header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		position: center;
		font-family: 'Raleway', Helvetica, Arial, sans-serif;
		color: #fff;
		margin:0;
		padding:18%;
	}

	h2{
		font-size: 5em;
		position: center;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: #fff;
		margin:0;
		padding:18%;
	}


	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- 
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(imgs/blacktexture.jpg);
		background-size: cover;
		/* background-image: url(imgs/gunilogo.png); */
		padding: 0 0 0 0;
	}
/*
	#section2{
		background-image: url(imgs/dev.jpg);
		padding: 6% 0 0 0;
	}
	#section3{
		background-image: url(imgs/design.jpg);
		padding: 6% 0 0 0;
	}
	#section3 h1{
		color: #000;
	}
>>>>>>> Stashed changes



	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

/* nav css */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

a {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 1.00em;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	padding: 20px 30px 0 0;
}

a:hover {
    color: #f1c40f;
}

li {
    float: left;

}

li a {
    color: white;
    text-align: center;
    padding: 10px 68px;
    text-decoration: none;
}

.nav { display:block; position:fixed; top:10px; left:0; width:100%; margin:0; z-index:100; background:transparent; padding:20px 0;}
.nav * { background:transparent; color:#FFF;}

/* Small Logo*/

.newlogo { display:block; position:fixed; top:12px; left:0; margin:0; z-index:110; padding:5px; }
.newlogo img { height:50px; width:auto; }

/*Corner Banner*/

#githubLink { z-index: 999999; display:block; position:absolute;}

/* Guni Big Logo*/

#section0 h1 img { opacity:1; -moz-opacity:1; -webkit-opacity:1; animation:fader 2s 1; -moz-animation:fader 3s 1; -webkit-animation:fader 3s 1; }

@keyframes fader {
	0% { opacity:0; }
	30% { opacity:0; }
	100%{ opacity:1; }
}

@-moz-keyframes fader {
	0% { opacity:0; }
	100%{ opacity:1; }
}

@-webkit-keyframes fader {
	0% { opacity:0; }
	100%{ opacity:1; }
}

/*button*/

.button:hover {
	background-color: #f1c40f;
	color: #fff;
	border-color: #f1c40f;
}

.button {
 display: block;
 height: 30px;
 width: 200px;
 border: 2px solid;
 color: #000;
 text-align: center;
 font-size: 0.8em;
 font-family: 'Raleway', Helvetica, Arial, sans-serif;
 padding: 30px 0px 0px 5px;
 z-index: 999999;
 
 /*Step 4: Fancy CSS3 Styles*/
 background-color: transparent;
 -webkit-border-radius: 50px;
 -khtml-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px; 
}

/* Slider */

#slider
